---
  import Footer from '../components/Footer.astro';
  const allRecipes = await Astro.glob('../pages/recipes/*.md');
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Recetas Saludables</title>
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/about/">Sobre Marco</a>
    </nav>

    <header>
      <h1>Recetas Saludables</h1>
      <p>Explora deliciosas recetas que nutrirán tu cuerpo y mejorarán tu bienestar.</p>
    </header>

    <main>
      <ul>
        {allRecipes.map((recipe) => (
          <li>
            <a href={recipe.url}>{recipe.frontmatter.title}</a>
          </li>
        ))}
      </ul>
    </main>

    <script type="module">
      import "../scripts/menu.js";
    </script>

    <Footer />
  </body>
</html>
